extends ../layouts/main-layout.pug

block styles 
    link(rel='stylesheet' href='/public/css/product.css')
    link(rel='stylesheet' href='/public/css/form.css')

block content 
    main
        form.product-form(action='/admin/add-product' method='POST')
            .form-control
                label(for='title') Title
                input#title(type='text' name='title')
            .form-control
                label(for='imageUrl') Image Url
                input#imageUrl(type='text' name='imageUrl' value='https://dictionary.cambridge.org/vi/images/full/book_noun_004_0453.jpg?version=5.0.341')
            .form-control
                label(for='price') Price
                input#price(type='number' name='price' step='0.01')
            .form-control
                label(for='description') Description
                textarea#description(name='description' rows="5")
            button(type='submit')='Add Product'